<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meeting.helper.audio">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".AudioActivity"
            android:theme="@style/Theme.AppCompat" />
    </application>
</manifest>
